<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [T: %thread] [L: %level] [%logger{15}] %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE_MAIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/main-%d{yyyy-MM-dd}.%i.html</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>100</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <charset>UTF-8</charset>
            <layout class="ch.qos.logback.classic.html.HTMLLayout">
                <pattern>>%d{HH:mm:ss.SSS}%thread%level%logger%line%msg</pattern>
            </layout>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE_MAIN"/>
    </root>
</configuration>